# Secret API keys
.env

# Machine Learning Datasets
data/
*.nc
*.dat

# Python Build and Cache Files
__pycache__/
*.pyc

# Hardware Simulation Outputs
obj_dir/

# Installer scripts
*.sh

# checkpoints and forecasts
checkpoints_v6/
forecast_output_v6/

# VSCode Settings
.vscode/

# Waveforms
*.vcd